/*sector index*/


/* importacion de la tipografia */
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=KoHo:ital,wght@0,500;1,200&display=swap');

/*saca los margenes es "buena preactica"*/
* {
    margin: 0;
    padding: 0;
}

/* tipografia del body */
body {
    /* font-family: 'Bubbler One', sans-serif; */
    /*otro estilo de tipografia*/
    font-family: 'KoHo', sans-serif;
}

main {
    /*dejo espacio para el header*/
    margin-top: 40px;
}

/* header */
header {
    background-color: white;
    /*fondo blanco*/
    display: flex;
    /*todo en una linea*/
    flex-direction: column;
    justify-content: space-between;
    /*que quede uno en cada punta*/
    position: sticky;
    /*deja el header fijo se le llama pegajoso*/
    top: 0px;
    /*siempre arriba*/
    z-index: 100;
    /*siempre al frente*/
    height: 125px;
    /*altura*/
    width: 100%;
    /*ancho 100% de la pantalla*/
}

/* Texto del link del header */
header a {
    text-decoration: none;
    /*le saca el subrayado*/
    color: rgb(0, 0, 0);
    /*color a la lentra*/
    margin: 10px;
    /*espaciado exterior*/
    font-size: 23px;
    /*tamaño de letra*/
}

header .logo{
    max-height: 100px;
}

header .tira {
    max-height: 25px;
}

.logo-pequeno {
    width: 100px; /* ajusta el tamaño a tu gusto */
    }

/* imagen principal */
.banner {
    background-image: url("../assets/img/foto01.jpg");
    /*imagen de fondo*/
    width: 100%;
    /*ancho 100% de la pantalla*/
    height: 400px;
    /*altura*/
    background-size: cover;
    /*adapta el fondo a la pantalla*/
}

/* efecto esmerilado */

.efectovidrio {
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 70%;
    /*ancho*/
    height: 300px;
    /*altura*/
}


.subtitulo15años {
    text-align: center;
    /* centrando el texto*/
    padding: 20px;
    /*espacio interior*/
}

.subtitulo15años p {
    font-size: 30px;
    /* tamaño del texto*/
}

.subtitulo15años h2 {
    font-size: 30px;
    /* tamaño del texto*/
}

.subtitulo15años p {
    margin-top: 40px;
    /*espacio superior*/
}

.subtitulo15años h2 {
    margin-top: 60px;
    /*espacio superior*/
    margin-bottom: 20px;
}

.titulo1 {
    margin-top: 40px;
    /*espacio superior*/
    margin-bottom: 40px;
    /*espacio inferior*/
    font-size: 70px;
    /* tamaño del texto*/
}

.subtitulo {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 45px;
}

/* imagen que se queda*/
.separador1 {
    background-image: url("../assets/img/separador1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 500px;
}

/* tamaño de texto alineacion */
.iniciopaginfo {
    text-align: center;
    padding: 20px;
}

.iniciopaginfo h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* imagen que se queda*/
.separador2 {
    background-image: url("../assets/img/separador2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 500px;
}

.inicioConfirmacion {
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.inicioConfirmacion h2 {
    font-size: 50px;

}

.inicioConfirmacion h3 {
    font-size: 20px;

}

/* esto es un boton*/
.boton {
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(241, 166, 185);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(243, 217, 231);
}

.boton:hover {
    background-color: rgb(243, 217, 231);
    color: rgb(241, 166, 185);

}



/* imagen que se queda*/
.separador3 {
    background-image: url("../assets/img/separador3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 500px;
}

/* sectior inicio momentos*/

.inicioMomentos {
    padding: 20px;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.inicioMomentos .contenedorCarrusel {
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
}

/* imagen que se queda*/
.separador4 {
    background-image: url("../assets/img/separador4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 500px;
}

/* texto de los titulos del index cambia el tamaño la alineacion, etc*/
.listaRegalos {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.listaRegalos a {
    font-size: 20px;
}

.inicioJuego {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.inicioJuego a {
    font-size: 20px;
}

.listaRegalos a {
    font-size: 20px;
}

/* imagen que se queda*/
.separador5 {
    background-image: url("../assets/img/separador5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 500px;
}

/* icolo del texto del footer y posicion centarda*/
.footer {
    font-size: 30px;
    text-align: center;
}

/* posicion centrada de iconos del footer*/
.iconos {
    display: inline-flex;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.iconos i {
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(241, 166, 185);
}

.container-img {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.container-img .box-img figure {
    width: 100%;
    height: 100%;
}

.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .box-img:only-child(1) {
    grid-column-start: span 2;
}

/*sector confirmar asistencia*/

.bannerConfirmar {
    /*background-image: url("../assets/img/asistencia.jpg") ;/*imagen de fondo*/
    width: 100%;
    /*ancho 100% de la pantalla*/
    height: 100px;
    /*altura*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*centra el texto*/
    background-size: cover;
    /*adapta el fondo a la pantalla*/

}

.contenedorConfirmarAsistencia {
    text-align: center;/* centrando el texto*/
    padding: 20px;
    /*espacio interior*/
    font-size: 25px;
    /* tamaño del texto*/
}

.titulo {
    margin-top: 40px;
    /*espacio superior*/
    margin-bottom: 40px;
    /*espacio inferior*/
    font-size: 70px;
    /* tamaño del texto*/
    text-align: center;
}


.contenedorConfirmarAsistencia .titulo {
    font-size: 90px;


}

.contenedorConfirmarAsistencia .parrafoConfirmarAsistencia {
    font-size: 22px;
}

.contenedorConfirmarAsistencia h2 {
    margin-bottom: 20px;
}

.contenedor_video .video {
    height: 50vh;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*sector confirmar momentos*/

.contenedorTexto {
    justify-content: center;
    align-items: center;
    text-align: center;
    /*centra el texto*/
}




@media screen and (max-width:800px) {
    .container-img {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid: gap 10px;
        grid-template-rows: 200px;
    }
}

.container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
}

@media screen and (max-width:500px) {
    .containter-img {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

}

.container-img .box-img img {
    height: 200px;

}