@charset "UTF-8";
/*MAPS*/
@import url("https://fonts.googleapis.com/css2?family=Bubbler+One&family=KoHo:ital,wght@0,500;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "KoHo", sans-serif;
}

body {
  background-image: linear-gradient(to left, #c7dcc9, #d3d6b7, #e6cdac, #f8c2af, #ffb8c1, #ffbad1, #febee1, #f7c3f1, #f9cdf4, #fbd7f7, #fce0f9, #feeafc);
}

main {
  /*dejo espacio para el header*/
  margin-top: 200px;
}

.centrado {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

/* TITULOS, SUBTITULOS Y PARRAFOS */
.titulo-principal {
  color: #464444;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
}

.subtitulo-principal {
  color: #464444;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
}

.titulo-secundario {
  color: #464444;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: normal;
}

.subtitulo-secundario {
  color: #464444;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: normal;
}

p {
  font-size: 30px;
  color: #464444;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* esto es un boton*/
.boton {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  border-radius: 30px;
  background-color: rgb(241, 166, 185);
  text-decoration: none;
  color: white;
  border: 5px solid rgb(243, 217, 231);
}
.boton:hover {
  background-color: rgb(243, 217, 231);
  color: rgb(241, 166, 185);
}

/* MEDIA QUERYS */
@media screen and (max-width: 576px) {
  /* Titulos  y Subtitulos */
  .titulo-principal {
    font-size: 40px;
  }
  .subtitulo-principal {
    font-size: 30px;
  }
  .titulo-secundario {
    font-size: 35px;
  }
  .subtitulo-secundario {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
  .boton {
    font-size: 20px;
  }
}
/* HEADER */
header {
  z-index: 100;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
header .navbar {
  /*background-color: rgba(255, 255, 255, 0.952);*/
}
header .navbar .link {
  text-decoration: none;
  /*le saca el subrayado*/
  margin: 10px;
  /*espaciado exterior*/
  font-size: 25px;
  /*tamaño de letra*/
  font-weight: bold;
  /* Aplicar negrita al texto */
  color: #464444;
  /* Cambiar el color de la letra según sea necesario */
  text-align: center;
  /* Centrar el texto */
}
header .navbar .logo {
  width: 124.5px;
  height: 106.75px;
}
header .tira {
  /*background-color: rgba(255, 255, 255, 0.349);*/
  width: 100%;
  max-height: 60px;
}

@media screen and (max-width: 992px) {
  /* HEADER */
  header {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
  }
}
@media screen and (max-width: 576px) {
  /* HEADER */
  header .navbar .link {
    margin: 3px;
    /*espaciado exterior*/
    font-size: 20px;
    /*tamaño de letra*/
    font-weight: bold;
    /* Aplicar negrita al texto */
  }
  header .tira {
    max-height: 25px;
  }
}
/* FOOTER */
/* iconos de redes sociales */
footer i {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
  color: rgb(241, 166, 185);
}

/* texto del footer */
footer p {
  font-size: 25px;
  color: rgb(241, 166, 185);
}

/* MEDIA QUERYS */
@media screen and (max-width: 576px) {
  /* FOOTER */
  footer i {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
  }
  footer p {
    font-size: 15px;
    text-align: center;
  }
}
/* FORMULARIOS */
label {
  font-size: 30px;
  color: #464444;
}

/* MEDIA QUERYS */
@media screen and (max-width: 576px) {
  label {
    font-size: 20px;
  }
}
/* INDEX */
/* Baner de la pagina principal */
.banner {
  background-image: url("../assets/img/foto01 .webp");
  /*imagen de fondo*/
  width: 100%;
  /*ancho 100% de la pantalla*/
  height: 400px;
  /*altura*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*centra el texto*/
  background-size: cover;
  /*adapta el fondo a la pantalla*/
  background-position: center center;
  /* efecto esmerilado */
}
.banner .efectovidrio {
  background-color: rgba(255, 255, 255, 0.062745098);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 70%;
  /*ancho*/
  height: 300px;
  /*altura*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner .efectovidrio .titulo-principal,
.banner .efectovidrio .subtitulo-principal {
  color: white;
}

/* separador de secciones */
.separador1, .separador5, .separador4, .separador3, .separador2 {
  background-image: url("../assets/img/separador1 .webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.separador2 {
  background-image: url("../assets/img/separador2 .webp");
}

.separador3 {
  background-image: url("../assets/img/separador3 .webp");
}

.separador4 {
  background-image: url("../assets/img/separador4 .webp");
}

.separador5 {
  background-image: url("../assets/img/separador5 .webp");
}

/* conteneddor de video */
.container-video {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedorCarrusel {
  width: 90%;
  margin: auto;
  margin-bottom: 70px;
}
.contenedorCarrusel p {
  color: white;
}

.floating-title {
  position: relative;
  /* Establece la posición como relativa */
  animation: float 3s ease-in-out infinite;
  /* Asigna la animación al elemento */
}

.icon.instagram {
  display: inline-block;
  font-size: 44px;
  animation: float infinite 4s ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 576px) {
  .separador1, .separador2, .separador3, .separador4, .separador5 {
    height: 200px;
    background-attachment: unset;
  }
}
.linea-check {
  display: flex;
  flex-direction: row;
  align-items: center;
}/*# sourceMappingURL=estilos.css.map */